* { /*seleciona todos elementos do documento e aplica o estilo*/
	box-sizing: border-box;
}

body {
	font: normal 18pt Arial;
	margin: 0px;
	padding: 0px;
}

header {
	background: #FF00E4;
}


header > a {
	text-decoration: none;
	color: white;
}

header > a:hover {
	background: black;
	color: #FF00E4;
	/*box-sizing: border-box; feito ali em cima ^^^^^^*/
}

h1.bigger {
	color: #F3590D;
	font-size: 108px;
	margin-bottom: 0px;
}

h1 {
	color: red;
}

article > p { /* article > p quer dizer que afeta apenas o filho direto*/
	color: blue;
	margin: auto;
}

#p1 {
	background: #F700EE;
	width: 300px;
	height: 300px;
	margin-left: 0;
	border: 2px solid black;
}

#p2 {
	background: #6000FF;
	width: 150px;
	height: 150px;
	margin-left: 0;
	margin-top: 8px;
	border: 2px solid black;
}

/******** Large devices only ********/

@media (min-width: 1200px){
	#p1 {
		width: 80%;
	}
	#p2 {
		width: 150px;
		height: 150px;
	}
}

/******** Medium devices only ********/

@media (min-width: 992px) and (max-width: 1199px){
	#p1 {
		width: 50%;
	}
	#p2 {
		width: 100px;
		height: 100px;
	}
}
